<div class= "container">
  <div class = "row">
    <div class = "col-lg-8 mx-md auto">
      <h1>Editing User</h1>
      <%= render 'form', user: @user %>
      <%= link_to 'Back', users_path, class:"btn btn-outline-primary btn-lg"%>
    </div>
  </div>
</div>
