 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<h3> This is my first CRUD application with AJAX</h3>
<div class=" container">
  <div class="row">
    <div class="col-lg-9 mx-lg-auto">
      <div class="card-body mt-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo explicabo quia mollitia tempora sint molestias eius eaque, quaerat quam optio ipsa expedita possimus magni similique eligendi voluptate assumenda dolor? Aspernatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo explicabo quia mollitia tempora sint molestias eius eaque, quaerat quam optio ipsa expedita possimus magni similique eligendi voluptate assumenda dolor? Aspernatur?
        </p>
      </div>
    </div>
  </div>
</div>
